<div class="row">

  <!-- ==================== DAY 1 ==================== -->
  <div class="col-md-6">
    <h5>Day 1</h5>

    <table class="table table-striped">

      <tr>
        <td>Before</td>
        <td>
          <a href="{{ site.pre_survey }}{{ site.github.project_title }}"
             target="_blank" rel="noopener noreferrer">
            Pre-workshop survey
          </a>
        </td>
      </tr>

      <tr>
        <td>10:00</td>
        <td>Welcome, workshop introduction &amp; overview</td>        <!-- content -->
      </tr>

      <tr>
        <td>10:15</td>
        <td><a href="https://swcarpentry.github.io/shell-novice/instructor/aio.html">The Unix Shell: Introducing the Shell</a></td>
      </tr>

      <tr>
        <td>11:15</td>
        <td>The Unix Shell: Working With Files and Directories</td>
      </tr>

      <tr>
        <td>11:30</td>
        <td>Coffee break</td>
      </tr>

      <tr>
        <td>12:00</td>
        <td>The Unix Shell: Pipes and Filters</td>
      </tr>

      <tr>
        <td>13:00</td>
        <td>Lunch break</td>
      </tr>

      <tr>
        <td>14:00</td>
        <td>The Unix Shell: Loops &amp; Shell Scripts</td>
      </tr>

      <tr>
        <td>15:30</td>
        <td>Coffee break</td>
      </tr>

      <tr>
        <td>16:00</td>
        <td>The Unix Shell: Finding Things</td>
      </tr>

      <tr>
        <td>16:50</td>
        <td>Wrap-up</td>
      </tr>

      <tr>
        <td>17:00</td>
        <td>END</td>
      </tr>

    </table>
  </div>


  <!-- ==================== DAY 2 ==================== -->
  <div class="col-md-6">
    <h5>Day 2</h5>

    <table class="table table-striped">

      <tr>
        <td>10:00</td>
        <td><a href="https://swcarpentry.github.io/git-novice/aio.html">Version Control with Git</a></td>
      </tr>

      <tr>
        <td>11:30</td>
        <td>Coffee break</td>
      </tr>

      <tr>
        <td>12:00</td>
        <td>Version Control with Git — Continued</td>
      </tr>

      <tr>
        <td>13:30</td>
        <td>Lunch break</td>
      </tr>

      <tr>
        <td>14:30</td>
        <td>Version Control with Git — Continued</td>
      </tr>

      <tr>
        <td>15:15</td>
        <td>Coffee break</td>
      </tr>

      <tr>
        <td>15:45</td>
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/">Introduction to R and RStudio</a></td>
      </tr>

      <tr>
        <td>16:15</td>
        <td>Project Management With RStudio</td>
      </tr>

      <tr>
        <td>16:50</td>
        <td>Wrap-up</td>
      </tr>

      <tr>
        <td>17:00</td>
        <td>END</td>
      </tr>

    </table>
  </div>

<!-- separator between the two rows -->

<hr style="margin-top: 30px; margin-bottom: 30px;">
  <!-- ==================== DAY 3 ==================== --->
<div class="row">
  <div class="col-md-6">
    <h5>Day 3</h5>

    <table class="table table-striped">

      <tr>
        <td>10:00</td>
        <td>Data Structures in R</td>
      </tr>

      <tr>
        <td>11:30</td>
        <td>Coffee break</td>
      </tr>

      <tr>
        <td>12:00</td>
        <td>Exploring Data Frames in R</td>
      </tr>

      <tr>
        <td>13:30</td>
        <td>Lunch break</td>
      </tr>

      <tr>
        <td>14:30</td>
        <td>Control Flow in R</td>
      </tr>

      <tr>
        <td>16:00</td>
        <td>Coffee break</td>
      </tr>

      <tr>
        <td>16:30</td>
        <td>
          Creating Publication-Quality Graphics with ggplot2 —
          Introduction
        </td>
      </tr>

      <tr>
        <td>16:50</td>
        <td>Wrap-up</td>
      </tr>

      <tr>
        <td>17:00</td>
        <td>END</td>
      </tr>

    </table>
  </div>


  <!-- ==================== DAY 4 ==================== -->
  <div class="col-md-6">
    <h5>Day 4</h5>

    <table class="table table-striped">

      <tr>
        <td>10:00</td>
        <td>
          Creating Publication-Quality Graphics with ggplot2 —
          Continued
        </td>
      </tr>

      <tr>
        <td>11:30</td>
        <td>Coffee break</td>
      </tr>

      <tr>
        <td>12:00</td>
        <td>Functions in R</td>
      </tr>

      <tr>
        <td>13:30</td>
        <td>Lunch break</td>
      </tr>

      <tr>
        <td>14:30</td>
        <td>Data Frame Manipulation with dplyr &amp; tidyr</td>
      </tr>

      <tr>
        <td>16:00</td>
        <td>Coffee break</td>
      </tr>

      <tr>
        <td>16:30</td>
        <td>Producing Reports With knitr</td>
      </tr>

      <tr>
        <td>16:45</td>
        <td>Workshop wrap-up</td>
      </tr>

      <tr>
        <td>16:50</td>
        <td>
          <a href="{{ site.post_survey }}{{ site.github.project_title }}"
             target="_blank" rel="noopener noreferrer">
            Post-workshop Survey
          </a>
        </td>
      </tr>

      <tr>
        <td>17:00</td>
        <td>END</td>
      </tr>

    </table>
  </div>

</div>
