<div class="row">

  <!-- ==================== DAY 1 ==================== -->
  <div class="col-md-4">
    <h5 id="day-1">Day 1: Unix Shell &amp; Git</h5>

    <table class="table table-striped">

      <tr>
        <td>Before</td>
        <td>
          <a href="{{ site.pre_survey }}{{ site.github.project_title }}"
             target="_blank" rel="noopener noreferrer">
            Pre-workshop survey
          </a>
        </td>
      </tr>

      <tr>
        <td>9:00</td>
        <td>Welcome, workshop introduction &amp; overview</td>
      </tr>

      <tr>
        <td>9:15</td>
        <td><a href="https://swcarpentry.github.io/shell-novice/aio.html">The Unix Shell: Introducing the Shell</a></td>
      </tr>

      <tr>
        <td>10:15</td>
        <td>The Unix Shell: Working With Files and Directories</td>
      </tr>

      <tr>
        <td>10:45</td>
        <td>Coffee break</td>
      </tr>

      <tr>
        <td>11:15</td>
        <td>The Unix Shell: Pipes and Filters</td>
      </tr>

      <tr>
        <td>12:00</td>
        <td>The Unix Shell: Loops, Shell Scripts &amp; Finding Things</td>
      </tr>

      <tr>
        <td>1:00</td>
        <td>Lunch break</td>
      </tr>

      <tr>
        <td>2:00</td>
        <td><a href="https://swcarpentry.github.io/git-novice/aio.html">Version Control with Git</a></td>
      </tr>

      <tr>
        <td>3:30</td>
        <td>Coffee break</td>
      </tr>

      <tr>
        <td>4:00</td>
        <td>Version Control with Git — Continued</td>
      </tr>

      <tr>
        <td>4:50</td>
        <td>Wrap-up</td>
      </tr>

      <tr>
        <td>5:00</td>
        <td>END</td>
      </tr>

    </table>
  </div>


  <!-- ==================== DAY 2 ==================== -->
  <div class="col-md-4">
    <h5 id="day-2">Day 2: R — Part 1</h5>

    <table class="table table-striped">

      <tr>
        <td>10:00</td>
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/01-rstudio-intro.html/">Introduction to R and RStudio</a></td>
      </tr>

      <tr>
        <td>10:30</td>
        <td>Project Management With RStudio</td>
      </tr>

      <tr>
        <td>11:00</td>
        <td>Seeking Help &amp; Data Structures</td>
      </tr>

      <tr>
        <td>11:30</td>
        <td>Coffee break</td>
      </tr>

      <tr>
        <td>12:00</td>
        <td>Exploring Data Frames</td>
      </tr>

      <tr>
        <td>1:00</td>
        <td>Subsetting Data</td>
      </tr>

      <tr>
        <td>1:30</td>
        <td>Lunch break</td>
      </tr>

      <tr>
        <td>2:30</td>
        <td>Control Flow</td>
      </tr>

      <tr>
        <td>3:30</td>
        <td>Coffee break</td>
      </tr>

      <tr>
        <td>4:00</td>
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/08-plot-ggplot2.html">Creating Publication-Quality Graphics with ggplot2 — Continued</a></td>
      </tr>

      <tr>
        <td>4:20</td>
        <td>Wrap-up</td>
      </tr>

      <tr>
        <td>4:30</td>
        <td>END</td>
      </tr>

    </table>
  </div>


  <!-- ==================== DAY 3 ==================== -->
  <div class="col-md-4">
    <h5 id="day-3">Day 3: R — Part 2</h5>

    <table class="table table-striped">

      <tr>
        <td>10:00</td>
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/08-plot-ggplot2.html">Creating Publication-Quality Graphics with ggplot2 — Continued</a></td>
      </tr>

      <tr>
        <td>11:00</td>
        <td>Vectorization</td>
      </tr>

      <tr>
        <td>11:30</td>
        <td>Coffee break</td>
      </tr>

      <tr>
        <td>12:00</td>
        <td>Functions Explained</td>
      </tr>

      <tr>
        <td>1:00</td>
        <td>Writing Data</td>
      </tr>

      <tr>
        <td>1:30</td>
        <td>Lunch break</td>
      </tr>

      <tr>
        <td>2:30</td>
        <td>Data Frame Manipulation with dplyr</td>
      </tr>

      <tr>
        <td>3:15</td>
        <td>Data Frame Manipulation with tidyr</td>
      </tr>

      <tr>
        <td>3:30</td>
        <td>Coffee break</td>
      </tr>

      <tr>
        <td>4:00</td>
        <td>Producing Reports With knitr &amp; Writing Good Software</td>
      </tr>

      <tr>
        <td>4:20</td>
        <td>
          <a href="{{ site.post_survey }}{{ site.github.project_title }}"
             target="_blank" rel="noopener noreferrer">
            Post-workshop survey
          </a>
        </td>
      </tr>

      <tr>
        <td>4:30</td>
        <td>END</td>
      </tr>

    </table>
  </div>

</div>
